* {
    box-sizing: border-box;
    margin: 0;
}



.welcome {
    margin: 20px;
}

.line {

    background-color: white;
    width: 90%;
    min-height: 120px;
    border-radius: 26px;
    margin: 30px;
    padding: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;


}

.cartitem {
    display: flex;
    justify-content: center;
    align-items: center;

}


.caja {
    margin: 30px;
    padding: 10px;
}

.details {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;

}



.cartimg {
    display: flex;
    align-items: center;
    justify-content: center;

}

.items {
    display: flex;
    align-items: center;
    justify-content: center;

}

.items h3 {
    font-size: 20px;
}

.subtotal p {
    color: rgb(47, 118, 47);
}

.total-title {
    margin: 10px 0 10px 0;
}

.sum {

    height: 30px;
    margin: 10px 0 10px 0;

}

.resumen {
    margin: 0 0 0 30px;
}

.total {
    color: green;
}

.summary {

    background-color: white;
    width: 90%;
    height: 100%;
    padding: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 26px;

}


@media (min-height: 680px),
screen {




    .cartimg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        width: 250px;

    }

    .resumen {
        margin: 0;
    }


    .items h3 {
        font-size: 16px;
    }

}

.button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 700;
    font-size: 17px;
    font-family: "Russo one";
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}