
*{
    box-sizing: border-box;
    margin: 0;
}

icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}


.title{
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
}
.title p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja{
    height: auto;
    width: 300px;
    border: 2px solid rgb(215, 32, 32);
}
.addcart{
    height: 40px;
    width: 150px;
    border-radius: 20px;
}

.inputs{
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quantity{
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity p{
    margin: 0;
}