* {
    box-sizing: border-box;
    margin: 0;
}

icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;

}


.title {
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
}

.title p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja {
    height: auto;
    width: auto;

}

.addcart {
    height: 40px;
    width: 150px;
    border-radius: 20px;
}

.inputs {
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;


}

.quantity {
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity p {
    margin: 0;
    color: rgb(14, 14, 14);
    font-size: 20px;
}

.btn {
    margin: 10px;

}


.button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 700;
    font-size: 17px;
    font-family: "Russo one";
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.button:hover {
    color: #e8e8e8;
}

.button:hover::before {
    width: 100%;
}


.bar {
    height: auto;
    width: auto;
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.size {
    height: auto;
    width: auto;


}

.size_option {
    margin: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.size_option:focus {
    background-color: black;
    color: white;
}

.item h2 {
    font-size: 20px;
}