icon-shape {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.icon-sm {
    width: 2rem;
    height: 2rem;
    
}

.box{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addcart{
    height: 40px;
    width: 150px;
    border-radius: 20px;
}