@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: 'Poppins', sans-serif;    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
    overflow: hidden;
}

.container {
    position: relative;
    margin: 20px 0 20px 0;
    overflow: hidden;

}


.container .item {
    position: relative;
    width: 400px;
    height: 500px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    padding: 0;
    
    
}






.container .item:after {
    position: absolute;
    top: 40%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(142, 245, 58, 0.055);
    
}


.container .item .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    z-index: 10000;
    width: 100%;
    height: 250px;
    transition: 0.5s;
}

.container .item:hover .imgBx {
    top: 0%;
    transform: translateY(0%);

}

.container .item .imgBx img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 230px;
}

.container .item .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
    margin-top: 10px;
}

.container .item:hover .contentBx {
    height: 150px;
}

.container .item .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
    font-size: 20px;
}

.container .item .contentBx .costo,
.container .item .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 10px;
    padding-bottom: 0;

}

.container .item:hover .contentBx .costo {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .item:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .item .contentBx .costo h3,
.container .item .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    font-family: "Russo One";
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}





.container .item .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #9bdc28;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}


.container .item .contentBx .buy {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
}

.container .item:hover .contentBx .buy {
    opacity: 1;
    transform: translateY(20px);
    transition-delay: 0.75s;

}

@media only screen and (max-width: 768px) {
    
    
.container .item {
    position: relative;
    width: 350px;
    height: 500px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    padding: 0;
    
    
}

.container .item .imgBx img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 200px;
}

.container .item .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    z-index: 10000;
    width: 100%;
    height: 350px;
    transition: 0.5s;
}

.container .item .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
    font-size: 24px;
}


.container .item .contentBx .costo h3,
.container .item .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    font-family: "Russo One";
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
}
