

a {
    text-decoration: none;
    font-family: "Russo One";
}

a:hover{
    color:#79F2A4 !important; 
}

    ul li{
        list-style: none;
}


.nav-link{
    margin: 0 20px 0 20px;
}

.collapse{
    display: flex;
    justify-content: flex-end;
}

.cart{
    margin-left: 20px;
    height: 30px;
    width: 30px;
}